{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Новости категории {{ category }}
{% endblock title %}


{% block content %}

<style>
    table {
      font-family: arial, sans-serif;
      width: 100%;
    }
    td, th {
      border: 1px solid #fce2de;
      text-align: left;
      padding: 7px;
    }
    tr:nth-child(even) {
      background-color: #fce2de;
    }
    ul {
        padding: 1; /* Убираем поля */
        margin-left: 0; /* Отступ слева */
    }
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 40px;
}

.sidenav a {
    padding: 6px 8px 6px 1px;
    text-decoration: none;
    font-size: 18px;
    color: #9a9898;
    display: block;
}

.sidenav a:hover {
    color: #9a9898;
}

.sidenav p {
    padding: 6px 8px 1px 1px;
    text-decoration: none;
    font-size: 18px;
    color: #9a9898;
    display: block;
}

.sidenav p:hover {
    color: #9a9898;
}

.sidenav ul {
        color: #f1f1f1;
        font-size: 18px;
        text-align: left;
    }


.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>

{# Текущий пользователь и авторизация #}
{% welcome-user %}

<h2>Новости категории <br> <em>{{ category }}</em></h2>
<hr>

{# Подписка на категорию #}
{% if is_not_subscriber%}
    <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% else %}
    <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a></p>
{% endif %}

<hr>



{% if news_list %}
    <p align="left"> Количество: {{ news_list.count }}</p>

    <table border="1" align="center">
        <tr>
            <th align="center">Заголовок</th>
            <th align="center">Дата публикации</th>
            <th align="center">Автор</th>
            <th align="center">Категория</th>
            <th align="center">Тип</th>
            <th align="center">Содержание</th>
        </tr>
    {% for news in news_list %}
        <tr>
            <td align="left"><a href="{{ news.get_absolute_url }}">{{ news.title|censor:"*"|truncatechars:55 }}</a></td>
            <td align="center">{{ news.cr_time|date:'d M Y' }}</td>
            <td align="center">{{ news.postAuthor }}</td>
            <td align="center">
                {% for cat in news.category.all %}
                    {% if cat.pk == cat_selected %}
                        {{ cat.catname }}&nbsp;
                    {% else %}
                        <a href="{% url 'category_list' pk=cat.pk %}">{{ cat.catname }}&nbsp;</a>
                    {% endif %}
                {% endfor %}</td>
            <td align="center">{{ news.type|typetorus }}</td>
            <td align="center">{{ news.content|censor:"*"|truncatechars:30 }}</td>
        </tr>

    {% endfor %}
    </table>
{% else %}
    <h3>Ой, в этой категории ещё нет новостей, но вы можете подписаться на ее обновление </h3>
<hr>
{% endif %}

<div>
{# Если количество элементов больше paginate_by #}
{% if paginator.count > paginator.per_page %}

    {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
            ...
        {% endif %}
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    {# Текущая страница #}
    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            ...
        {% endif %}
    {% endif %}
{% endif %}
</div>

<div>

{% if page_obj.paginator.num_pages > 2 %}
    <a href="?page=1">First page</a>
    |
    <a href="?page={{ page_obj.paginator.num_pages }}">Last page</a>
{% endif %}
</div>

 <!-- Side navigation -->
<div class="sidenav">
    {% if cat_selected == 0 %}
        <p>Все категории</p>
    {% else %}
        <a href="{% url 'list_posts' %}">Все категории</a>
    {% endif %}
    <ul>
        {% for cat in categories %}
            {% if cat.pk == cat_selected %}
                <li><a>{{ cat.catname }}</a></li>
            {% else %}
                <li><a href="{{ cat.get_absolute_url }}">{{ cat.catname }}</a></li>
            {% endif  %}
        {% endfor %}
    </ul>

</div>
<hr>
<a href="#" onclick="history.back();return false;" class="btn btn-primary btn-sm" >Назад</a>

{% endblock content %}