{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Все новости
{% endblock title %}


{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      width: 100%;
    }
    td, th {
      border: 1px solid #fce2de;
      text-align: left;
      padding: 7px;
    }
    tr:nth-child(even) {
      background-color: #fce2de;
    }
    ul {
        padding: 1; /* Убираем поля */
        margin-left: 10px; /* Отступ слева */
    }

</style>

{# Текущий пользователь и авторизация #}

<div align="left">
    {% if request.user.is_authenticated%}
        <p align="left">Добро пожаловать пользователь "{{ request.user }}"</p>
    {% else %}
        <p align="left"><a href="{% url 'account_login' %}">Авторизируйтесь</a>, пожалуйста, на сайте</p>
    {% endif %}

    {% if request.user.is_authenticated and not isauthor %}
        <p>Сейчас вы не можете публиковать свои статьи и новости.
            <a href="{% url 'addtoauthors' %}">Станьте автором прямо сейчас</a> </p>
    {% endif %}
</div>

<h1>Все новости</h1>
<hr>

{# Категории и подписка #}
<div align="left">
    <h3>Подпишитесь на любимые категории:</h3>
    {% if newslist and request.user.is_authenticated %}
    <ul>
    {% for category in categories %}
        {% if not category.catname in curr_subscribes %}
            <li>{{ category }} <a style="font-size: 10px" href="{% url 'subscribe' category.id %}" target="_blank">Подписаться</a></li>
        {% else %}
            <li>{{ category }} <a style="font-size: 10px" href="{% url 'unsubscribe' category.id %}" target="_blank">Отписаться</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
</div>


<p align="left"> Общее количество: {{ paginator.count }}</p>

{% if newslist %}
    <table border="1" align="center">
        <tr>
            <th align="center">Заголовок</th>
            <th align="center">Дата публикации</th>
            <th align="center">Автор</th>
            <th align="center">Категория</th>
            <th align="center">Тип</th>
            <th align="center">Содержание</th>
            {% if perms.news.change_post %}
            <th align="center">Действие {{ perms.news.change_post }}</th>
            {% endif %}
        </tr>
    {% for news in newslist %}
        <tr>
            <td align="left"><a href="/news/{{ news.pk }}">{{ news.title|censor:"*"|truncatechars:55 }}</a></td>
            <td align="center">{{ news.cr_time|date:'d M Y' }}</td>
            <td align="center">{{ news.postAuthor }}</td>
            <td align="left"><ul>
                {% for category in news.category.all %}
                <li style="display:inline"><a href="{% url 'category_list' pk=category.pk %}">{{ category }}</a></li>
                {% endfor %}</ul></td>
            <td align="center">{{ news.type|typetorus }}</td>
            <td align="center">{{ news.content|censor:"*"|truncatechars:30 }}</td>
            {% if news.type == 'NW' and perms.news.change_post and perms.news.delete_post %}
                {% if news.postAuthor_id == currentuserid or request.user.is_superuser %}
                    <td align="center"><a href="{% url 'news_edit' pk=news.pk %}">{{ news.PostAuthor.id }}Edit</a>
                                       <a href="{% url 'news_delete' pk=news.pk %}">Delete</a></td>
                {% else %}
                    <td align="center">N/A</td>
                {% endif %}
            {% endif %}
            {% if news.type == 'AR' and perms.news.change_post and perms.news.delete_post%}
                {% if news.postAuthor_id == currentuserid or request.user.is_superuser %}
                    <td align="center"><a href="{% url 'article_edit' pk=news.pk %}">Edit</a>
                                       <a href="{% url 'article_delete' pk=news.pk %}">Delete</a></td>
                {% else %}
                    <td align="center">N/A</td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </table>
<hr>
{% endif %}

<div>
{# Если количество элементов больше paginate_by #}
{% if paginator.count > paginator.per_page %}

    {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
            ...
        {% endif %}
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    {# Текущая страница #}
    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            ...
        {% endif %}
    {% endif %}
{% endif %}
</div>

<div>

{% if page_obj.paginator.num_pages > 2 %}
    <a href="?page=1">First page</a>
    |
    <a href="?page={{ page_obj.paginator.num_pages }}">Last page</a>
{% endif %}
</div>

{# Кнопки добавления новости/статьи #}

{% if perms.news.add_post %}

<p>
    <form style="display:inline" action="{% url 'news_create' %}">
        <button>Добавить новость</button>
    </form>
    <form style="display:inline" action="{% url 'article_create' %}">
        <button>Добавить статью</button>
    </form>
</p>

{% endif %}

{% endblock content %}