{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Поиск
{% endblock title %}


{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<h1>Поиск статей и новостей</h1>

<hr>
    {# Форма поиска #}
   <form action="" method="get">
       {{ newsfilterset.form.as_p }}
       <input type="submit" value="Найти!"/>
   </form>

<p align="left"> Общее количество: {{ paginator.count }}</p>

{% if newslist %}
    <table border="1" align="center">
        <tr>
            <th align="center">Заголовок</th>
            <th align="center">Дата публикации</th>
            <th align="center">Автор</th>
            <th align="center">Тип</th>
            <th align="center">Содержание</th>
            {% if perms.news.change_post %}
            <th align="center">Действие</th>
            {% endif %}
        </tr>
    {% for news in newslist %}
        <tr>
            <td align="left"><a href="/news/{{ news.pk }}">{{ news.title|censor:"*" }}</a></td>
            <td align="center">{{ news.cr_time|date:'d M Y' }}</td>
            <td align="center">{{ news.postAuthor }}</td>
            <td align="center">{{ news.type|typetorus }}</td>
            <td align="center">{{ news.content|censor:"*"|truncatechars:30 }}</td>
            {% if news.type == 'NW' and perms.news.change_post and perms.news.delete_post %}
                {% if news.postAuthor_id == currentuserid or request.user.is_superuser %}
                    <td align="center"><a href="{% url 'news_edit' pk=news.pk %}">{{ news.PostAuthor.id }}Edit</a>
                                       <a href="{% url 'news_delete' pk=news.pk %}">Delete</a></td>
                {% else %}
                    <td align="center">Not available</td>
                {% endif %}
            {% endif %}
            {% if news.type == 'AR' and perms.news.change_post and perms.news.delete_post%}
                {% if news.postAuthor_id == currentuserid or request.user.is_superuser %}
                    <td align="center"><a href="{% url 'article_edit' pk=news.pk %}">Edit</a>
                                       <a href="{% url 'article_delete' pk=news.pk %}">Delete</a></td>
                {% else %}
                    <td align="center">Not available</td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </table>
<hr>
{% endif %}

<div>
{# Переключатель страниц #}
{# Если количество элементов больше paginate_by #}
{% if paginator.count > paginator.per_page %}

    {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
            ...
        {% endif %}
        <a href="?{% urlreplacer page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    {# Текущая страница #}
    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% urlreplacer page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            ...
        {% endif %}
    {% endif %}
{% endif %}
</div>

<div>

{% if page_obj.paginator.num_pages > 2 %}
    <a href="?{% urlreplacer page=1 %}">First page</a>
    |
    <a href="?{% urlreplacer page=page_obj.paginator.num_pages %}">Last page</a>
{% endif %}
</div>


{% endblock content %}