{% extends 'flatpages/default.html' %}


{% block title %}
Ваша подписка
{% endblock title %}


{% block content %}

{% if old_subscribe != None %}
    <h4 align="">Вы отписались на рассылку по категории новостей "{{ old_subscribe }}"</h4>
{% else%}
    <h4>Вы отписаны от категории "{{ req_unsubscribe }}"</h4>
{% endif %}


{% if curr_subscribes %}
<div align="left">
<ul>
    <h4>Все текущие подписки:</h4>
    {% for curr_subscribe in curr_subscribes %}
        <li style="padding-left: 0px">{{ curr_subscribe }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% endblock content %}