{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
All news
{% endblock title %}


{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<h1>All news</h1>
<hr>

<p align="left"> Общее количество: {{ newslist|length }}</p>

{% if newslist %}
    <table border="1" align="center">
        <tr>
            <th align="center">Заголовок</th>
            <th align="center">Дата публикации</th>
            <th align="center">Содержание</th>
        </tr>
    {% for news in newslist %}
        <tr>
            <td align="left">{{ news.title|censor:"*" }}</td>
            <td align="center">{{ news.cr_time|date:'d M Y' }}</td>
            <td align="left">{{ news.content|censor:"*"|truncatechars:20 }}</td>
        </tr>
    {% endfor %}
    </table>
<hr>
{% endif %}

{% endblock content %}