<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>


<hr>
    {% block content %}  {% endblock content %}
<hr>
    <h3>Additionall information about us:</h3>
    <h4>Description:</h4>
        <p>In ClientView an object can be created that will display all the licenses that have been loaded in the IMG. Within the IMG License Info Pane is a Download Node License button. If you have recently acquired a new license which contains additional functionality it can be loaded to the IMG through use of this button. See Downloading a New License in the related topics section below which will give more information on how to accomplish this.</p>
    <h4 style="margin-top: 0px; margin-bottom: 0px;">&nbsp;</h4>
</body>
</html>